
.item{
    transition: .3s ease-in-out;
    &:hover{
        border: 1px solid #F7AB4B;

    }
    .img-box{
        width: 200px;
    }
    .delete-item{
        right: 30px;
        bottom: 30px;
    }
    
}
.select-item{
    transition: .3s ease-in-out;
    cursor: pointer;
    &.active,&:hover{
        border: 2px solid #F7AB4B;
        svg{
            path{        
            fill: #F7AB4B;
          }
        }
    }
    
    svg{
        path{
            transition: .3s ease-in-out;
        }
    }
}
@media (max-width: 768px) {
    
.item{    
    .delete-item{
        right:0px;
        top: 0px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;padding: 10px;
    }    
}
  }